<%- include("partials/navbar") %> 
<section id="survey">
  <h1 class="titles">Patient's Survey</h1>
  
  <form action="/survey" method="post" id="survey-form">
    <% if (user.patients.length === 0) { %>
      <p>You currently have no patients. Please <a href="/add-pat">add a patient</a>.</p>
    <% } else  { %>
      <div class="pat-select">
        <label for="patients">Select a patient:</label>
        <select name="patientId" id="pat-options">
          <% for (var i = 0; i < user.patients.length; i++) { %>
            <option value="<%= user.patients[i]._id %>">
              <%= user.patients[i].fname %> <%= user.patients[i].lname %>
            </option>
            <% } %>
            <% } %>
        </select>
      </div>
  <div class="container-fluid">
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Speech</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Detectable speech disturbance">Detectable speech disturbance</div>
        <div class="btn-sur btn" data-value="Intelligible with repeating">Intelligible with repeating</div>
        <div class="btn-sur btn" data-value="Speech combined with nonvocal communications">Speech combined with nonvocal communications</div>
        <div class="btn-sur btn" data-value="Loss of useful speech">Loss of useful speech</div>
        <input type="hidden" name="speech" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Salivation</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Slight but definite excess of saliva in mouth; may have nighttime drooling">Slight but definite excess of saliva in mouth; may have nighttime drooling</div>
        <div class="btn-sur btn" data-value="Moderately excessive saliva; may have minimal drooling">Moderately excessive saliva; may have minimal drooling</div>
        <div class="btn-sur btn" data-value="Marked excess of saliva with some drooling">Marked excess of saliva with some drooling</div>
        <div class="btn-sur btn" data-value="Marked drooling; requires constant tissue or handkerchief">Marked drooling; requires constant tissue or handkerchief</div>
        <input type="hidden" name="salivation" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Swallowing</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal eating habits">Normal eating habits</div>
        <div class="btn-sur btn" data-value="Early eating problems; occasional choking">Early eating problems; occasional choking</div>
        <div class="btn-sur btn" data-value="Dietary consistency changes">Dietary consistency changes</div>
        <div class="btn-sur btn" data-value="Needs supplemental tube feedings">Needs supplemental tube feedings</div>
        <div class="btn-sur btn" data-value="Nothing by mouth; exclusively parenteral or enteral feeding">Nothing by mouth; exclusively parenteral or enteral feeding</div>
        <input type="hidden" name="swallowing" class="activeButton" value="Normal eating habits">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Handwriting</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Slow or sloppy; all words are legible">Slow or sloppy; all words are legible</div>
        <div class="btn-sur btn" data-value="Not all words are legible">Not all words are legible</div>
        <div class="btn-sur btn" data-value="Able to grip pen but unable to write">Able to grip pen but unable to write</div>
        <div class="btn-sur btn" data-value="Unable to grip pen">Unable to grip pen</div>
        <input type="hidden" name="handwriting" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Cutting food and handling utensils</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Somewhat slow and clumsy but no help needed">Somewhat slow and clumsy but no help needed</div>
        <div class="btn-sur btn" data-value="Can cut most foods although clumsy and slow; some help needed">Can cut most foods although clumsy and slow; some help needed</div>
        <div class="btn-sur btn" data-value="Food must be cut by someone but can still feed slowly">Food must be cut by someone but can still feed slowly</div>
        <div class="btn-sur btn" data-value="Needs to be fed">Needs to be fed</div>
        <input type="hidden" name="cutting-food" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Dressing and hygiene</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal function">Normal function</div>
        <div class="btn-sur btn" data-value="Independent and complete self-care with effort or decreased efficiency">Independent and complete self-care with effort or decreased efficiency</div>
        <div class="btn-sur btn" data-value="Intermittent assistance or substitute methods">Intermittent assistance or substitute methods</div>
        <div class="btn-sur btn" data-value="Needs attendant for self-care">Needs attendant for self-care</div>
        <div class="btn-sur btn" data-value="Total dependence">Total dependence</div>
        <input type="hidden" name="dressing-hygiene" class="activeButton" value="Normal function">
        </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Turning in bed and adjusting bed clothes</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Somewhat slow and clumsy but no help needed">Somewhat slow and clumsy but no help needed</div>
        <div class="btn-sur btn" data-value="Can turn alone or adjust sheets but with great difficulty">Can turn alone or adjust sheets but with great difficulty</div>
        <div class="btn-sur btn" data-value="Can initiate but not turn or adjust sheets alone">Can initiate but not turn or adjust sheets alone</div>
        <div class="btn-sur btn" data-value="Helpless">Helpless</div>
        <input type="hidden" name="turning-in-bed" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Walking</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Early ambulation difficulties">Early ambulation difficulties</div>
        <div class="btn-sur btn" data-value="Walks with assistance">Walks with assistance</div>
        <div class="btn-sur btn" data-value="Nonambulatory functional movement">Nonambulatory functional movement</div>
        <div class="btn-sur btn" data-value="No purposeful leg movement">No purposeful leg movement</div>
        <input type="hidden" name="walking" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Climbing stairs</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal</div>
        <div class="btn-sur btn" data-value="Slow">Slow</div>
        <div class="btn-sur btn" data-value="Mild unsteadiness or fatigue">Mild unsteadiness or fatigue</div>
        <div class="btn-sur btn" data-value="Needs assistance">Needs assistance</div>
        <div class="btn-sur btn" data-value="Cannot do">Cannot do</div>
        <input type="hidden" name="climbing-stairs" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Dyspnea</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None</div>
        <div class="btn-sur btn" data-value="Occurs when walking">Occurs when walking</div>
        <div class="btn-sur btn" data-value="Occurs with one or more of the following: eating, bathing, dressing">Occurs with one or more of the following: eating, bathing, dressing</div>
        <div class="btn-sur btn" data-value="Occurs at rest, difficulty breathing when either sitting or lying">Occurs at rest, difficulty breathing when either sitting or lying</div>
        <div class="btn-sur btn" data-value="Significant difficulty, considering using mechanical respiratory support">Significant difficulty, considering using mechanical respiratory support</div>
        <input type="hidden" name="dyspnea" class="activeButton" value="None">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Orthopnea</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None</div>
        <div class="btn-sur btn" data-value="Some difficulty sleeping at night due to shortness of breath; does not routinely use >2 pillows">Some difficulty sleeping at night due to shortness of breath; does not routinely use >2 pillows</div>
        <div class="btn-sur btn" data-value="Needs extra pillows in order to sleep (>2)">Needs extra pillows in order to sleep (>2)</div>
        <div class="btn-sur btn" data-value="Can only sleep sitting up">Can only sleep sitting up</div>
        <div class="btn-sur btn" data-value="Unable to sleep">Unable to sleep</div>
        <input type="hidden" name="orthopnea" class="activeButton" value="None">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Respiratory insufficiency</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None</div>
        <div class="btn-sur btn" data-value="Intermittent use of BiPAP">Intermittent use of BiPAP</div>
        <div class="btn-sur btn" data-value="Continuous use of BiPAP during the night">Continuous use of BiPAP during the night</div>
        <div class="btn-sur btn" data-value="Continuous use of BiPAP during the night and day">Continuous use of BiPAP during the night and day</div>
        <div class="btn-sur btn" data-value="Invasive mechanical ventilation by intubation or tracheostomy">Invasive mechanical ventilation by intubation or tracheostomy</div>
        <input type="hidden" name="respiratory-insufficiency" class="activeButton" value="None">
      </div>
    </div>
  

<div class="sur-res">
      <button class="act-sur btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Save Survey</button>
</div>
</div>
 </form> 
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Survey Added</h4>
      </div>
      <div class="modal-body">
        You can view your surveys for this patient in View History.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    <script>
      const buttonGroups = document.querySelectorAll('.button-group');

      buttonGroups.forEach((buttonGroup) => {
      const buttons = buttonGroup.querySelectorAll('.btn-sur');

    buttons.forEach((button) => {
    button.addEventListener('click', () => {      
      buttons.forEach((btn) => {
        btn.classList.remove('active');
      });
      button.classList.add('active');
      const hiddenInput = buttonGroup.querySelector('.activeButton');
      hiddenInput.value = button.dataset.value;
    });
  });
});
    </script> 
    <script>
      document.getElementById('survey-form').addEventListener('submit', function(event) {
     event.preventDefault();
     let err = false;
     if (!err) {
       $('#myModal').modal('show');
     }
   });
   
   $('#myModal').on('hidden.bs.modal', function (e) {
     document.getElementById('survey-form').submit();
   });
   </script>
      </section>
<%- include("partials/footer") %> 
