<%- include("partials/navbar") %> 
<section id="survey">
  <h1 class="titles">Patient's Survey</h1>
  
  <form action="/survey" method="post" id="survey-form">
    <% if (user.patients.length === 0) { %>
      <p>You currently have no patients. Please <a href="/add-pat">add a patient</a>.</p>
    <% } else  { %>
      <div class="pat-select">
        <label for="patients">Select a patient:</label>
        <select name="patientId" id="pat-options">
          <% for (var i = 0; i < user.patients.length; i++) { %>
            <option value="<%= user.patients[i]._id %>">
              <%= user.patients[i].fname %> <%= user.patients[i].lname %>
            </option>
            <% } %>
            <% } %>
        </select>
      </div>
  <div class="container-fluid">
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Speech</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Detectable speech disturbance">Detectable speech disturbance <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Intelligible with repeating">Intelligible with repeating <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Speech combined with nonvocal communications">Speech combined with nonvocal communications <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Loss of useful speech">Loss of useful speech <span class="score">0</span></div>
        <input type="hidden" name="speech" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Salivation</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Slight but definite excess of saliva in mouth; may have nighttime drooling">Slight but definite excess of saliva in mouth; may have nighttime drooling <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Moderately excessive saliva; may have minimal drooling">Moderately excessive saliva; may have minimal drooling <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Marked excess of saliva with some drooling">Marked excess of saliva with some drooling <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Marked drooling; requires constant tissue or handkerchief">Marked drooling; requires constant tissue or handkerchief <span class="score">0</span></div>
        <input type="hidden" name="salivation" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Swallowing</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal eating habits">Normal eating habits <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Early eating problems; occasional choking">Early eating problems; occasional choking <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Dietary consistency changes">Dietary consistency changes <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Needs supplemental tube feedings">Needs supplemental tube feedings <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Nothing by mouth; exclusively parenteral or enteral feeding">Nothing by mouth; exclusively parenteral or enteral feeding <span class="score">0</span></div>
        <input type="hidden" name="swallowing" class="activeButton" value="Normal eating habits">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Handwriting</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Slow or sloppy; all words are legible">Slow or sloppy; all words are legible <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Not all words are legible">Not all words are legible <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Able to grip pen but unable to write">Able to grip pen but unable to write <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Unable to grip pen">Unable to grip pen <span class="score">0</span></div>
        <input type="hidden" name="handwriting" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Cutting food and handling utensils</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Somewhat slow and clumsy but no help needed">Somewhat slow and clumsy but no help needed <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Can cut most foods although clumsy and slow; some help needed">Can cut most foods although clumsy and slow; some help needed <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Food must be cut by someone but can still feed slowly">Food must be cut by someone but can still feed slowly <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Needs to be fed">Needs to be fed <span class="score">0</span></div>
        <input type="hidden" name="cutting-food" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Dressing and hygiene</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal function">Normal function <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Independent and complete self-care with effort or decreased efficiency">Independent and complete self-care with effort or decreased efficiency <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Intermittent assistance or substitute methods">Intermittent assistance or substitute methods <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Needs attendant for self-care">Needs attendant for self-care <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Total dependence">Total dependence <span class="score">0</span></div>
        <input type="hidden" name="dressing-hygiene" class="activeButton" value="Normal function">
        </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Turning in bed and adjusting bed clothes</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Somewhat slow and clumsy but no help needed">Somewhat slow and clumsy but no help needed <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Can turn alone or adjust sheets but with great difficulty">Can turn alone or adjust sheets but with great difficulty <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Can initiate but not turn or adjust sheets alone">Can initiate but not turn or adjust sheets alone <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Helpless">Helpless <span class="score">0</span></div>
        <input type="hidden" name="turning-in-bed" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Walking</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Early ambulation difficulties">Early ambulation difficulties <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Walks with assistance">Walks with assistance <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Nonambulatory functional movement">Nonambulatory functional movement <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="No purposeful leg movement">No purposeful leg movement <span class="score">0</span></div>
        <input type="hidden" name="walking" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Climbing stairs</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="Normal">Normal <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Slow">Slow <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Mild unsteadiness or fatigue">Mild unsteadiness or fatigue <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Needs assistance">Needs assistance <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Cannot do">Cannot do <span class="score">0</span></div>
        <input type="hidden" name="climbing-stairs" class="activeButton" value="Normal">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Dyspnea</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Occurs when walking">Occurs when walking <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Occurs with one or more of the following: eating, bathing, dressing">Occurs with one or more of the following: eating, bathing, dressing <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Occurs at rest, difficulty breathing when either sitting or lying">Occurs at rest, difficulty breathing when either sitting or lying <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Significant difficulty, considering using mechanical respiratory support">Significant difficulty, considering using mechanical respiratory support <span class="score">0</span></div>
        <input type="hidden" name="dyspnea" class="activeButton" value="None">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Orthopnea</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Some difficulty sleeping at night due to shortness of breath; does not routinely use >2 pillows">Some difficulty sleeping at night due to shortness of breath; does not routinely use >2 pillows <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Needs extra pillows in order to sleep (>2)">Needs extra pillows in order to sleep (>2) <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Can only sleep sitting up">Can only sleep sitting up <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Unable to sleep">Unable to sleep <span class="score">0</span></div>
        <input type="hidden" name="orthopnea" class="activeButton" value="None">
      </div>
    </div>
    <div class="row">
      <hr class="sur-hr">
      <div class="col-md-6">
        <p class="sur-p">Respiratory insufficiency</p>
      </div>
      <div class="col-md-6 button-group">
        <div class="btn-sur btn active" data-value="None">None <span class="score">4</span></div>
        <div class="btn-sur btn" data-value="Intermittent use of BiPAP">Intermittent use of BiPAP <span class="score">3</span></div>
        <div class="btn-sur btn" data-value="Continuous use of BiPAP during the night">Continuous use of BiPAP during the night <span class="score">2</span></div>
        <div class="btn-sur btn" data-value="Continuous use of BiPAP during the night and day">Continuous use of BiPAP during the night and day <span class="score">1</span></div>
        <div class="btn-sur btn" data-value="Invasive mechanical ventilation by intubation or tracheostomy">Invasive mechanical ventilation by intubation or tracheostomy <span class="score">0</span></div>
        <input type="hidden" name="respiratory-insufficiency" class="activeButton" value="None">
      </div>
    </div>
  

<div class="sur-res">
  <p class="score-p">Total Points: <span style="font-weight: bold; font-size: 25px;" id="total-score" name="score">48 </span></p>
  <p class="score-p">Score Percentage: <span style="font-weight: bold; font-size: 25px;" id="score-percentage" name="percentage"> >90%</span></p>
  <input type="hidden" name="score" id="hidden-total-score" value="48">
  <input type="hidden" name="percentage" id="hidden-score-percentage" value=">90%">
      <button class="act-sur btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Save Survey</button>
</div>
</div>
 </form> 
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Survey Added</h4>
      </div>
      <div class="modal-body">
        You can view your surveys for this patient in View History.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  const buttonGroups = document.querySelectorAll('.button-group');
  const scoreMapping = {
  // Question 1: Speech
  'Normal': 4,
  'Detectable speech disturbance': 3,
  'Intelligible with repeating': 2,
  'Speech combined with nonvocal communications': 1,
  'Loss of useful speech': 0,

  // Question 2: Salivation
  'Normal': 4,
  'Slight but definite excess of saliva in mouth; may have nighttime drooling': 3,
  'Moderately excessive saliva; may have minimal drooling': 2,
  'Marked excess of saliva with some drooling': 1,
  'Marked drooling; requires constant tissue or handkerchief': 0,

  // Question 3: Swallowing
  'Normal eating habits': 4,
  'Early eating problems; occasional choking': 3,
  'Dietary consistency changes': 2,
  'Needs supplemental tube feedings': 1,
  'Nothing by mouth; exclusively parenteral or enteral feeding': 0,

  // Continue the mappings for the remaining questions...
  
  // Question 4: Handwriting
  'Normal': 4,
  'Slow or sloppy; all words are legible': 3,
  'Not all words are legible': 2,
  'Able to grip pen but unable to write': 1,
  'Unable to grip pen': 0,

  // Question 5: Cutting food and handling utensils
  'Normal': 4,
  'Somewhat slow and clumsy but no help needed': 3,
  'Can cut most foods although clumsy and slow; some help needed': 2,
  'Food must be cut by someone but can still feed slowly': 1,
  'Needs to be fed': 0,

  // Question 6: Dressing and hygiene
  'Normal function': 4,
  'Independent and complete self-care with effort or decreased efficiency': 3,
  'Intermittent assistance or substitute methods': 2,
  'Needs attendant for self-care': 1,
  'Total dependence': 0,

  // Continue the mappings for the remaining questions...
  
  // Question 7: Turning in bed and adjusting bed clothes
  'Normal': 4,
  'Somewhat slow and clumsy but no help needed': 3,
  'Can turn alone or adjust sheets but with great difficulty': 2,
  'Can initiate but not turn or adjust sheets alone': 1,
  'Helpless': 0,

  // Question 8: Walking
  'Normal': 4,
  'Early ambulation difficulties': 3,
  'Walks with assistance': 2,
  'Nonambulatory functional movement': 1,
  'No purposeful leg movement': 0,

  // Question 9: Climbing stairs
  'Normal': 4,
  'Slow': 3,
  'Mild unsteadiness or fatigue': 2,
  'Needs assistance': 1,
  'Cannot do': 0,
  //10//
  "None" : 4,
  "Occurs when walking" : 3,
  "Occurs with one or more of the following: eating, bathing, dressing" : 2,
  "Occurs at rest, difficulty breathing when either sitting or lying" : 1,
  "Significant difficulty, considering using mechanical respiratory support" : 0,
  //11//
  "None" : 4,
  "Some difficulty sleeping at night due to shortness of breath; does not routinely use >2 pillows" : 3,
  "Needs extra pillows in order to sleep (>2)" : 2,
  "Can only sleep sitting up" : 1 ,
  "Unable to sleep" : 0, 
  //12//
  "None" : 4,
  "Intermittent use of BiPAP" : 3,
  "Continuous use of BiPAP during the night" : 2,
  "Continuous use of BiPAP during the night and day": 1,
  "Invasive mechanical ventilation by intubation or tracheostomy" : 0
  };

  
  const updateTotalScore = () => {
    const activeButtons = document.querySelectorAll('.activeButton');
    let totalScore = 0;

    activeButtons.forEach((button) => {
      const selectedValue = button.value;
      totalScore += scoreMapping[selectedValue];
    });

    document.getElementById('total-score').textContent = totalScore;
    updateScorePercentage(totalScore);
  };

  const updateScorePercentage = (totalScore) => {
    const scorePercentageElement = document.getElementById('score-percentage');
    let scorePercentage = '';

    if (totalScore >= 41) {
      scorePercentage = '>90%';
    } else if (totalScore >= 36) {
      scorePercentage = '80-90%';
    } else if (totalScore >= 31) {
      scorePercentage = '70-80%';
    } else if (totalScore >= 26) {
      scorePercentage = '60-70%';
    } else if (totalScore >= 21) {
      scorePercentage = '40-60%';
    } else if (totalScore >= 16) {
      scorePercentage = '25-40%';
    } else {
      scorePercentage = '<=25%';
    }

    scorePercentageElement.textContent = scorePercentage;
  };

  buttonGroups.forEach((buttonGroup) => {
    const buttons = buttonGroup.querySelectorAll('.btn-sur');

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        buttons.forEach((btn) => {
          btn.classList.remove('active');
        });
        button.classList.add('active');
        const hiddenInput = buttonGroup.querySelector('.activeButton');
        hiddenInput.value = button.dataset.value;

        updateTotalScore(); // Call the function to update the total score and score percentage
      });
    });
  });

  document.getElementById('survey-form').addEventListener('submit', function(event) {
    event.preventDefault();

    const totalScore = document.getElementById('total-score').textContent;
  const scorePercentage = document.getElementById('score-percentage').textContent;
  
  document.getElementById('hidden-total-score').value = totalScore;
  document.getElementById('hidden-score-percentage').value = scorePercentage;

    let err = false;
    if (!err) {
      $('#myModal').modal('show');
    }
  });

  $('#myModal').on('hidden.bs.modal', function (e) {
    document.getElementById('survey-form').submit();
  });
</script>
    <!-- <script>
      const buttonGroups = document.querySelectorAll('.button-group');

      buttonGroups.forEach((buttonGroup) => {
      const buttons = buttonGroup.querySelectorAll('.btn-sur');

    buttons.forEach((button) => {
    button.addEventListener('click', () => {      
      buttons.forEach((btn) => {
        btn.classList.remove('active');
      });
      button.classList.add('active');
      const hiddenInput = buttonGroup.querySelector('.activeButton');
      hiddenInput.value = button.dataset.value;
    });
  });
});
    </script> 
    <script>
      document.getElementById('survey-form').addEventListener('submit', function(event) {
     event.preventDefault();
     let err = false;
     if (!err) {
       $('#myModal').modal('show');
     }
   });
   
   $('#myModal').on('hidden.bs.modal', function (e) {
     document.getElementById('survey-form').submit();
   });
   </script> -->
      </section>
<%- include("partials/footer") %> 
